<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <a class="logout-btn" href="/logout">Logout</a>
    <p class="log">Logged in as: <span class="username"><%= user.name %></span></p>

    <div class="container">
        <h1><a href="topic">Create Threads</a></h1>
        <div class="threads-container">
            <h1>All the threads are here</h1>
            <% messages.forEach(function(info) { %>
                <div class="thread">
                    <div class="thread-header">
                        <h2>Posted by: <%= info.user.name %></h2>
                        <span class="post-time"><%= new Date(info.createdAt).toLocaleString() %></span>
                    </div>
                    <div class="thread-content">
                        <p class="topic"><%= info.topic %></p>
                        <p><%= info.content %></p>
                    </div>
                    <% if (info.document) { %>
                        <div class="thread-doc">
                            <a href="http://localhost:3000/uploads/<%= info.document %>" download="<%= info.document %>" >
                                <img src="./images/documents.png" alt="Document" class="small-icon">
                            </a>
                        </div>
                    <% } %>
                    <% if (info.summary) { %>
                        <p><strong>Summary:</strong> <%= info.summary %></p>
                    <% } %>
                    <div class="thread-actions">
                        <button class="infoid-btn" id="sum" data-query-id="<%= info._id %>">Summary</button>
                        <button class="flag-reply-btn">Flagged Reply</button>
                    </div>
                    <form class="reply-form" action="/reply" method="post">
                        <input type="hidden" name="topicId" value="<%= info._id %>">
                        <i class="fas fa-comment" onclick="toggleInput(this)"> Reply</i>
                        <input type="text" name="replycontent" placeholder="Write your reply..." class="hidden">
                        <input type="submit" value="Post" class="hidden">
                    </form>
                    <button class="show-replies-btn" onclick="toggleReplies(this)">Show Replies</button>
                    <div class="replies-container">
                        <% if (info.replies.length === 0) { %>
                            <p>No replies</p>
                        <% } else { %>
                            <% info.replies.reverse().forEach(function(reply) { %>
                                <div class="reply" data-reply-id="<%= reply._id %>" data-user-id="<%= reply.user._id %>">
                                    <p><strong><%= reply.user.name %>:</strong> <%= reply.replycontent %></p>
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>
